.nav-activity {
    max-width: 1280px;
    padding-top: 30px;
    margin: 0 auto;

}

.nav-activity ul {

    display: flex;
    flex-direction: row;
    list-style-type: "/";
}

.nav-activity li {
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    padding: 0 5px;
    margin: 0 5px;

}

.nav-activity li:first-child {
    list-style-type: none;
}

/* .nav-activity li:hover {
    background: linear-gradient(-180deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} */

.nav-activity a {
    text-decoration: ;
}

.nav-activity a:hover {

    background: linear-gradient(-180deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.manualCard {
    max-width: 1280px;

    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 16px;
    margin: 35px auto 0 auto;

}

.manualCard h1 {
    margin: 0 0 0 80px;
    padding-top: 20px;
}