/* form{
    width: 35%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
 
 .input-container{
    width: 35%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

} 

 .manualLabel {
    border: 1px solid #657285;
    border-radius: 4px;
    margin: 10px 0;
    width: 75%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.manualLabel input{
    height: 35px;
    border: none;
}

.manualLabel .genderSelect{
    width: 100%;
    border: none;
}



.labelName {
    position: relative;
    top: -10px;
}

label {
    background-color: #FFFFFF;
    color: #657285;
    margin: 0 0 0 16px;
    padding: 0px 5px;
    font-size: 14px;
    text-align: center;
}

option{
    border: none;
}

input:focus{
    outline: none;
}

select:focus{

    outline: none;
}


/*style birthday*/
#birthday{
    background:  url(../../assets/Icon.png);
    background-repeat: no-repeat;
    background-position: 99%;

}

#birthday::-webkit-calendar-picker-indicator{
    opacity: 0;
}



@media screen and  (max-width: 768px){
    .input-container{
        width: 45%;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .manualLabel {
        border: 1px solid #657285;
        border-radius: 0.25rem;
        margin: 0.625rem 0;
        width: 75%;
        height: 3.75rem;
        display: flex;
        flex-direction: column;
    }
    
    .manualLabel input{
        height: 2.188rem;
        border: none;
    }
    
    .manualLabel .genderSelect{
        width: 100%;
        border: none;
    }
    
    
    
    .labelName {
        position: relative;
        top: -0.625rem;
    }
    
    label {
        background-color: #FFFFFF;
        color: #657285;
        margin: 0 0 0 1rem;
        padding: 0px 0.313rem;
        font-size: 0.875rem;
        text-align: center;
    }
    
}