.changeProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ProfilePic {
    margin-bottom: 23px;
    width: 75%;
}

.changeProfile button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 40px;
    padding: 11px 23px;
    background-color: white;
    color: black;
    border-image: linear-gradient(45deg, purple, orange) 1;



}

.changeProfile button:hover {
    background: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
    border-image: linear-gradient(45deg, purple, orange) 1;
    border: none;
    color: white;
    cursor: pointer;
}

.changeProfile button a {
    text-decoration: none;
    margin: 11px 23px;
    font-weight: 500;
    font-size: 14px;
}

@media screen and (max-width: 768px) {

    .changeProfile {
        width: 50%;
    }

    .changeProfile button {
        width: 100%;
        margin-bottom: 32px;
    }
}