html {
    font-size: calc(60% + 0.8vmin);
}

.activity-form{
    margin: 2.5rem 0 auto;

}

.fromcard {
    width: 25rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fromcard input {
    border: none;
    height: 2.2rem;
    padding: 0.3rem;
}

.fromcard input:focus {
    outline: none;
}

.manualLable {
    border: 1px solid #657285;
    border-radius: 0.25rem;
    margin: 0.625rem 0;
    width: 75%;
    height: 3.75rem;
    display: flex;
    flex-direction: column;
}

.manualLable select {
    border: none;
}

.manualLable:last-child {
    height: 7.5rem;
}

.lableName {
    position: relative;
    top: -0.625rem;
}

label {
    background-color: #FFFFFF;
    color: #657285;
    margin: 0 0 0 1rem;
    padding: 0px 0.4rem;
    font-size: 0.8rem;
    text-align: center;
}

textarea {
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

.summitCard {
    width: 35%;
    height: 100%;
    margin: 2.5rem auto;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.summitCard button {
    width: 45%;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.699);
    background-color: white;
    border-image: linear-gradient(45deg, purple, orange) 1;
    box-shadow: 0rem 0.25rem 0.375rem rgba(114, 136, 181, 0.21);
}

.summitCard button:hover {
    background: linear-gradient(90deg, #1A2A6C 0%, #B21F1F 51.04%, #FDBB2D 100%);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/*style birthday*/
#birthday{
    background:  url(../../assets/Icon.png);
    background-repeat: no-repeat;
    background-position: 99%;

}

#birthday::-webkit-calendar-picker-indicator{
    opacity: 0;
}